@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");

/* Global */
* {
  font-family: "Raleway", sans-serif;
}

body {
  margin: 56px 80px 0px 80px;
}

.bold-text {
  font-weight: 700;
}

/* Navbar */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav img {
  height: 23px;
}

.nav ul {
  list-style-type: none;
  display: flex;
}

.nav a {
  text-decoration: none;
  color: #000000;
  padding-left: 30px;
  padding-right: 30px;
}

.nav a:hover {
  color: #0065fc;
  border-top: 2px solid;
  padding-top: 70px;
}

/* Section : Recherche */
.search-section {
  margin-top: 70px;
}

form {
  display: flex;
  align-items: center;
}

input[type="search"] {
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  outline: none;
  font-size: 20px;
  padding: 15px 15px 15px 15px;
  font-weight: 600;
}

input[type="submit"] {
  border: none;
  background: #0065fc;
  color: white;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  font-size: 20px;
  padding: 16px 15px 16px 15px;
  font-weight: 500;
  cursor: pointer;
}

.icon-position {
  background-color: #d9d9d9;
  padding: 18px 22px 18px 22px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  font-size: 19px;
}
